body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow: hidden;

    a {
        text-decoration: none;
    }
}


.light {
    transition: .3s;
    position: sticky;
    top: 0;
    transition: .3s;
    background-color: white;
    width: 100%;


    .icon {
        max-width: 10%;
        width:100%;
        padding:0 1vw;
    }

    .logo{
        color: black;
        font-weight: bold;
        font-size:10vw;
    }

    .menu-btn{
        cursor: pointer;
        width: 100%;
        max-width: 10%;
        float: right;
        margin: 3vw 1vw;
    }
}

.dark {
    transition: .3s;
    position: sticky;
    top: 0;
    transition: .3s;
    background-color: #545454;
    width: 100%;


    .icon {
        max-width: 10%;
        width:100%;
        padding:0 1vw;
    }

    .logo{
        color: black;
        font-weight: bold;
        font-size:10vw;
    }

    .menu-btn{
        cursor: pointer;
        width: 100%;
        max-width: 10%;
        float: right;
        margin: 3vw 1vw;
    }
}

.sticky {
    transition: .3s;
    box-shadow: 0px 3px 3px 0px #545454;
}

.stop-scroll{
    overflow: hidden;
}


.page-header {
    height: 200px;
    background: #CCC;
}

section {
    padding: 4em;

    .box {
        text-align: center;
        font-size: 5vw;
        margin: 4em auto;
        width: 70%;
        .youtube{
            text-decoration: none;
            color:red;
            font-weight: bold;
        }
    }
}

nav {
    visibility:hidden;
    position: absolute;
    background-color: #545454;
    width: calc(100%);
    height: calc(100%);

}