body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

    a {
        text-decoration: none;
    }
}


header {
    transition: .3s;
    position: sticky;
    top: 0;
    transition: .3s;
    background-color: white;
    width: 100%;


    .icon {
        max-width: 3.1%;
        width:100%;
        padding: 0 .5vw;
    }

    .logo{
        color: black;
        font-weight: bold;
        font-size:4vw;
    }

    .menu-btn{
        cursor: pointer;
        width: 100%;
        max-width: 3%;
        float: right;
        margin: 1.5vw 1vw;
    }
}

.sticky {
    transition: .3s;
    box-shadow: 0px 3px 3px 0px #545454;
}


.page-header {
    height: 200px;
    background: #CCC;
}

section {
    padding: 4em;

    .box {
        text-align: center;
        font-size: 3vw;
        margin: 4em auto;
        width: 70%;
        .youtube{
            text-decoration: none;
            color:red;
            font-weight: bold;
        }
    }
}





nav {
    position: absolute;
    background-color: #202020;
    padding: 2em;
    width: calc(100%-4em);
    height: calc(100vm - 4em);
}